<div class="row">
    <div *ngFor="let item of results" class="col-md-3 p-3">
        <div class="card" style="width: 18rem;">
            <img style="height: 12em;object-fit:cover;" src="{{item.cover_small}} " class="card-img-top w-100" alt="imagen">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <h5 class="card-title">{{item.duration}}</h5>
            </div>
            <div>
                <audio class="w-75 justify-content-center" [src]="item.preview" controls></audio>
            </div>
            <div>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="OnDestroy(item.id)">Eliminar</button>
            </div>
        </div>
    </div>
</div>
